{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Update Course - SmartUp Dashboard</title>

   

    


    <!-- Flatpickr -->
    <link type="text/css" href="assets/css/flatpickr.css" rel="stylesheet">
    <link type="text/css" href="assets/css/flatpickr.rtl.css" rel="stylesheet">
    <link type="text/css" href="assets/css/flatpickr-airbnb.css" rel="stylesheet">
    <link type="text/css" href="assets/css/flatpickr-airbnb.rtl.css" rel="stylesheet">

    <!-- Quill Theme -->
    <link type="text/css" href="assets/css/quill.css" rel="stylesheet">
    <link type="text/css" href="assets/css/quill.rtl.css" rel="stylesheet">

    <!-- Nestable -->
    <link rel="stylesheet" href="assets/css/nestable.css">
    <link rel="stylesheet" href="assets/css/nestable.rtl.css">






</head>

<body class=" layout-fluid">









    <div class="preloader">
        <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
        </div>
    </div>

    <!-- Header Layout -->
    <div class="mdk-header-layout js-mdk-header-layout">

        <!-- Header -->

        

        <!-- // END Header -->

        <!-- Header Layout Content -->
        <div class="mdk-header-layout__content">

            <div data-push data-responsive-width="992px" class="mdk-drawer-layout js-mdk-drawer-layout">
                <div class="mdk-drawer-layout__content page ">

                    <div class="container-fluid page__container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'section-home' %}">Home</a></li>
                          
                            {% if route == 1 %}
                            <li class="breadcrumb-item active">Add course</li>
                            {% else %}
                            <li class="breadcrumb-item active">Update course</li>
                            {% endif %}
                        </ol>
                        <div class="media align-items-center mb-headings">
                            <div class="media-body">
                               {% if route == 1 %}
                               <h1 class="h2">Add Course</h1>
                               {% else %}
                               <h1 class="h2">Update Course</h1>
                               {% endif %}
                           </div>
                       </div>
                       <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Course Details</h4>
                                </div>
                                <form class="card-body" method="post">

                                 {% csrf_token %}

                                 {{ form | crispy }}

                                 <div class="text-right">
                                    <button class="btn btn-success" type="submit">SAVE</button>
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal fade" id="editLesson">
                <div class="modal-dialog">
                    <div class="modal-content">
                        // Edit Lesson
                    </div>
                </div>
            </div>

        </div>




    

    </div>

    <!-- App Settings FAB -->


</div>
</div>










<!-- Nestable -->
<script src="assets/vendor/jquery.nestable.js"></script>
<script src="assets/js/nestable.js"></script>

<!-- Quill -->
<script src="assets/vendor/quill.min.js"></script>
<script src="assets/js/quill.js"></script>

<!-- Flatpickr -->
<script src="assets/vendor/flatpickr/flatpickr.min.js"></script>
<script src="assets/js/flatpickr.js"></script>

</body>

</html>